<hdt-loading-bar class="hdt-loading-bar" aria-hidden="true" color-scheme="{{ settings.color_scheme_dialog }}"></hdt-loading-bar>

<svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" class="hdt-d-none" hidden>
  <defs>
    <symbol id="hdt-icon-cp" viewBox="0 0 32 32">
      <path d="M13.224 10.428l-10.198-10.178-2.776 2.776 10.178 10.178 2.796-2.776zM20.922 0.25l4.016 4.016-24.688 24.708 2.776 2.776 24.708-24.688 4.016 4.016v-10.828h-10.828zM21.572 18.776l-2.776 2.776 6.162 6.162-4.036 4.036h10.828v-10.828l-4.016 4.016-6.162-6.162z"></path>
    </symbol>
    <symbol id="hdt-icon-cp-added" viewBox="0 0 32 32">
      <path d="M12.025 21.963l17.227-17.227 2.65 2.65-19.878 19.878-11.927-11.927 2.65-2.65 9.276 9.276z"></path>
    </symbol>
    <symbol id="hdt-icon-wis" viewBox="0 0 32 32">
      <path d="M16.158 26.075l-0.158 0.158-0.174-0.158c-7.507-6.811-12.469-11.316-12.469-15.883 0-3.161 2.371-5.531 5.531-5.531 2.434 0 4.804 1.58 5.642 3.73h2.939c0.838-2.149 3.208-3.73 5.642-3.73 3.161 0 5.531 2.371 5.531 5.531 0 4.567-4.962 9.071-12.485 15.883zM23.112 1.5c-2.75 0-5.389 1.28-7.112 3.287-1.723-2.007-4.362-3.287-7.112-3.287-4.867 0-8.692 3.809-8.692 8.692 0 5.958 5.373 10.841 13.512 18.222l2.292 2.086 2.292-2.086c8.139-7.38 13.512-12.264 13.512-18.222 0-4.883-3.825-8.692-8.692-8.692z"></path>
    </symbol>
    <symbol id="hdt-icon-wis-added" viewBox="0 0 32 32">
      <path d="M23.077 1.57c-2.825 0.023-5.351 1.282-7.067 3.262l-0.010 0.012c-1.726-1.992-4.253-3.251-7.073-3.273l-0.004-0c-0.028-0-0.061-0.001-0.094-0.001-4.693 0-8.504 3.778-8.556 8.459l-0 0.005v0.187c0 5.927 5.347 10.813 13.447 18.136l2.28 2.074 2.28-2.074c8.1-7.348 13.447-12.209 13.447-18.136 0-0.028 0.001-0.061 0.001-0.094 0-4.693-3.778-8.504-8.459-8.556l-0.005-0z"></path>
    </symbol>
    <symbol id="hdt-icon-wis-remove" viewBox="0 0 32 32">
      <path d="M3.333 9.667h25.333v20.583c0 0.875-0.709 1.583-1.583 1.583h-22.167c-0.875 0-1.583-0.709-1.583-1.583v-20.583zM6.5 12.833v15.833h19v-15.833h-19zM11.25 16h3.167v9.5h-3.167v-9.5zM17.583 16h3.167v9.5h-3.167v-9.5zM8.083 4.917v-3.167c0-0.875 0.709-1.583 1.583-1.583h12.667c0.875 0 1.583 0.709 1.583 1.583v3.167h7.917v3.167h-31.667v-3.167h7.917zM11.25 3.333v1.583h9.5v-1.583h-9.5z"></path>
    </symbol>
    <symbol id="hdt-icon-quickview" viewBox="0 0 32 32">
      <path d="M0.509 16.611c0.281 0.383 6.96 9.39 15.491 9.39s15.211-9.006 15.491-9.39c0.129-0.177 0.199-0.391 0.199-0.611s-0.070-0.433-0.199-0.611c-0.28-0.383-6.96-9.39-15.491-9.39s-15.21 9.006-15.491 9.39c-0.129 0.177-0.199 0.391-0.199 0.611s0.070 0.433 0.199 0.611zM16 8.069c6.284 0 11.726 5.978 13.337 7.932-1.609 1.956-7.040 7.931-13.337 7.931-6.283 0-11.726-5.977-13.337-7.932 1.609-1.956 7.040-7.93 13.337-7.93z"></path>
      <path d="M16 22.207c3.422 0 6.207-2.784 6.207-6.207s-2.784-6.207-6.207-6.207c-3.422 0-6.207 2.784-6.207 6.207s2.784 6.207 6.207 6.207zM16 11.862c2.282 0 4.138 1.856 4.138 4.138s-1.856 4.138-4.138 4.138c-2.282 0-4.138-1.856-4.138-4.138s1.856-4.138 4.138-4.138z"></path>
    </symbol>
    <symbol id="hdt-icon-cart-sym" viewBox="0 0 32 32">
      <path d="M28.444 32h-24.889c-0.413 0-0.808-0.169-1.1-0.469s-0.456-0.707-0.456-1.131v-28.8c0-0.424 0.164-0.831 0.456-1.131s0.687-0.469 1.1-0.469h24.889c0.413 0 0.808 0.169 1.1 0.469s0.456 0.707 0.456 1.131v28.8c0 0.424-0.164 0.831-0.456 1.131s-0.687 0.469-1.1 0.469zM26.889 28.8v-25.6h-21.778v25.6h21.778zM11.333 6.4v3.2c0 1.273 0.492 2.494 1.367 3.394s2.062 1.406 3.3 1.406c1.238 0 2.425-0.506 3.3-1.406s1.367-2.121 1.367-3.394v-3.2h3.111v3.2c0 2.122-0.819 4.157-2.278 5.657s-3.437 2.343-5.5 2.343-4.041-0.843-5.5-2.343c-1.459-1.5-2.278-3.535-2.278-5.657v-3.2h3.111z"></path>
    </symbol>
    <symbol id="hdt-icon-arrow_right" viewBox="0 0 14 10">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
    </symbol>
    <symbol id="hdt-icon-arrow_stretch" viewBox="0 0 64 64">
      <path d="M6.89,64,0,57.11,47.26,9.85H4.92V0H64V59.08H54.15V16.74Z"></path>
    </symbol>
    <symbol id="hdt-icon-arrow_simple" viewBox="0 0 64 64">
      <path d="M12,56.43,36.48,32,12,7.52,19.53,0,51.61,32,19.53,64Z"></path>
    </symbol>
    <symbol id="hdt-icon-arrow_bottom" viewBox="0 0 32 32">
      <path d="M 15 4 L 15 24.0625 L 8.21875 17.28125 L 6.78125 18.71875 L 15.28125 27.21875 L 16 27.90625 L 16.71875 27.21875 L 25.21875 18.71875 L 23.78125 17.28125 L 17 24.0625 L 17 4 Z"></path>
    </symbol>
    <symbol id="hdt-icon-car" viewBox="0 0 29 32">
      <path d="M 5.867 15.467 c -1.173 0 -2.133 0.96 -2.133 2.133 s 0.96 2.133 2.133 2.133 s 2.133 -0.96 2.133 -2.133 s -0.96 -2.133 -2.133 -2.133 Z M 5.867 18.667 c -0.587 0 -1.067 -0.48 -1.067 -1.067 s 0.48 -1.067 1.067 -1.067 c 0.587 0 1.067 0.48 1.067 1.067 s -0.48 1.067 -1.067 1.067 Z" />
      <path d="M 22.933 15.467 c -1.173 0 -2.133 0.96 -2.133 2.133 s 0.96 2.133 2.133 2.133 c 1.173 0 2.133 -0.96 2.133 -2.133 s -0.96 -2.133 -2.133 -2.133 Z M 22.933 18.667 c -0.587 0 -1.067 -0.48 -1.067 -1.067 s 0.48 -1.067 1.067 -1.067 c 0.587 0 1.067 0.48 1.067 1.067 s -0.48 1.067 -1.067 1.067 Z" />
      <path d="M 25.12 11.2 l -0.907 -4.267 c -0.373 -1.387 -1.44 -2.133 -2.88 -2.133 h -13.867 c -1.493 0 -2.347 0.747 -2.773 2.133 l -0.96 4.267 h -3.733 v 1.067 h 3.467 v 0.053 c -1.653 0.107 -2.933 1.493 -2.933 3.2 v 7.413 h 1.6 v 1.6 c 0 1.493 1.173 2.667 2.667 2.667 s 2.667 -1.173 2.667 -2.667 v -1.6 h 13.867 v 1.6 c 0 1.493 1.173 2.667 2.667 2.667 s 2.667 -1.173 2.667 -2.667 v -1.6 h 1.6 v -7.413 c 0 -1.653 -1.28 -3.04 -2.88 -3.2 v -0.053 h 3.413 v -1.067 h -3.68 Z M 5.707 7.253 c 0.32 -0.96 0.8 -1.387 1.76 -1.387 h 13.867 c 1.013 0 1.6 0.427 1.867 1.333 l 1.067 5.12 h -19.733 l 1.173 -5.067 Z M 6.4 24.533 c 0 0.907 -0.693 1.6 -1.6 1.6 s -1.6 -0.693 -1.6 -1.6 v -1.6 h 3.2 v 1.6 Z M 25.6 24.533 c 0 0.907 -0.693 1.6 -1.6 1.6 s -1.6 -0.693 -1.6 -1.6 v -1.6 h 3.2 v 1.6 Z M 27.2 15.52 v 6.347 h -25.6 v -6.347 c 0 -1.173 0.96 -2.133 2.133 -2.133 h 21.333 c 1.173 0 2.133 0.96 2.133 2.133 Z" />
    </symbol>
    <symbol id="hdt-icon-check" viewBox="0 0 12 10">
      <path d="M4.59503 9.13837C4.48049 9.2536 4.32419 9.31788 4.16186 9.31788C3.99953 9.31788 3.84323 9.2536 3.72869 9.13837L0.26926 5.67837C-0.0897535 5.31935 -0.0897535 4.73718 0.26926 4.37885L0.702432 3.94556C1.06156 3.58655 1.64305 3.58655 2.00206 3.94556L4.16189 6.10548L9.99794 0.269261C10.3571 -0.0897535 10.9391 -0.0897535 11.2976 0.269261L11.7307 0.702547C12.0898 1.06156 12.0898 1.64362 11.7307 2.00206L4.59503 9.13837Z" fill="CurrentColor"></path>
    </symbol>
    <symbol id="hdt-icon-truck" viewBox="0 0 24 24">
      <rect x="1" y="3" width="15" height="13"/>
      <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"/>
      <circle cx="5.5" cy="18.5" r="2.5"/>
      <circle cx="18.5" cy="18.5" r="2.5"/>
    </symbol>
    <symbol id="hdt-icon-diamond" viewBox="0 0 28 32">
      <path d="M 27.467 10.667 l -6.293 -7.467 h -14.4 l -6.293 7.467 l -0.48 0.533 l 0.427 0.533 l 13.547 17.067 l 13.973 -17.6 l -0.48 -0.533 Z M 26.08 10.667 h -10.72 l 5.333 -6.347 l 5.387 6.347 Z M 13.92 10.667 l -5.547 -6.4 h 10.987 l -5.44 6.4 Z M 7.147 4.427 l 5.387 6.24 h -10.667 l 5.28 -6.24 Z M 13.44 11.733 v 14.667 l -11.68 -14.667 h 11.68 Z M 14.507 26.4 v -14.667 h 11.627 l -11.627 14.667 Z" />
    </symbol>
    <symbol id="hdt-icon-door-lock" viewBox="0 0 27 32">
      <path d="M 13.333 2.667 c -7.36 0 -13.333 5.973 -13.333 13.333 s 5.973 13.333 13.333 13.333 c 7.36 0 13.333 -5.973 13.333 -13.333 s -5.973 -13.333 -13.333 -13.333 Z M 13.333 28.267 c -6.773 0 -12.267 -5.493 -12.267 -12.267 s 5.493 -12.267 12.267 -12.267 c 6.773 0 12.267 5.493 12.267 12.267 s -5.493 12.267 -12.267 12.267 Z" />
      <path d="M 17.6 12.8 c 0 -2.347 -1.92 -4.267 -4.267 -4.267 s -4.267 1.92 -4.267 4.267 c 0 1.6 0.907 3.04 2.24 3.733 l -2.24 6.4 h 8.533 l -2.187 -6.4 c 1.28 -0.747 2.187 -2.133 2.187 -3.733 Z M 16.107 21.867 h -5.547 l 1.707 -4.96 l 0.32 -0.853 l -0.8 -0.427 c -1.013 -0.587 -1.653 -1.653 -1.653 -2.827 c 0 -1.76 1.44 -3.2 3.2 -3.2 s 3.2 1.44 3.2 3.2 c 0 1.173 -0.64 2.24 -1.653 2.773 l -0.8 0.427 l 0.267 0.853 l 1.76 5.013 Z" />
    </symbol>
  </defs>
</svg>
{%- comment -%}
 <hdt-drawer-component color-scheme="scheme-1" class="hdt-contents">
  <dialog id="CartDrawer3" class="hdt-dialog hdt-dialog-drawer" scroll-lock>
      <div class="hdt-dialog-drawer__header">
      Drawer header
      </div>
      <div class="hdt-dialog-drawer__inner">
      Drawer content
      </div>
  </dialog>
 </hdt-drawer-component>
 <hdt-modal-component color-scheme="scheme-1" class="hdt-contents">
  <dialog id="CartDrawer3" class="hdt-dialog hdt-dialog-modal" scroll-lock>
      <div class="hdt-dialog-modal__header">
      Modal header
      </div>
      <div class="hdt-dialog-modal__inner hdt-current-scrollbar">
      Modal content
      </div>
  </dialog>
 </hdt-modal-component>
{%- endcomment -%}