<div class="hdt-mini-cart__line"></div>
{% schema %}
  {
    "name": "t:sections.mini-cart.blocks.line.name",
    "tag":null,
    "settings": [
    
    ],
    "presets": [
      {
        "name": "t:sections.mini-cart.blocks.line.name"
      }
    ]
  }
{% endschema %}
